@font-face {
	font-family: Raleway;
	src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
